// Import page-specific CSS files here.
@import "home";

.order-subtitle {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  text-shadow: 1px 1px px #212121;
  h3 {
    font-size: 30px;
    text-shadow: 0px 0px 8px #161616d2;
    font-weight: 800;
    color: rgb(252, 252, 252);
  }
}

.total-cards {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  width:100%;
	height:400px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: whitw;
  color: rgb(60, 59, 59);


  &:hover {
    .edit-btn, .delete-btn{
      display: block;
      transition-delay: 1s;
    }
  }
}


.edit-btn{
  position: absolute;
  top: 4px;
  left: -8px;
  display: none;
  opacity: 0.7;
}

.delete-btn{
  position: absolute;
  top: 4px;
  right: 6px;
  display: none;
  opacity: 0.7
}

.button-details{
  border-radius: 20px;
}

.flex{
  display: flex;
  align-items: center;    /* Centraliza horizontalmente */
  justify-content: center;
}

.orders-body {
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F1615689.jpg&f=1&nofb=1&ipt=cf9179825146fcdd9fbbb3acb2d936e212b092896f762dab22d08eab5501af86&ipo=images);
  background-size: cover;
}

.no-orders {
  color: rgb(160, 96, 163);
  font-weight: bold;
}
