// Import page-specific CSS files here.
@import "home";

.order-subtitle {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  text-shadow: 1px 1px 2px #212121;
  h3 {
    font-size: 30px;
    text-shadow: 1px 1px 1px #414141;
    font-weight: 800;
  }
}

.total-cards {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  width:100%;
	height:400px;
  box-sizing: border-box;
  overflow: hidden;
  &:hover {
    .edit-btn, .delete-btn{
      display: block;
      transition-delay: 1s;
    }
  }
}


.edit-btn{
  position: absolute;
  top: 4px;
  left: -8px;
  display: none;
  opacity: 0.7;
}

.delete-btn{
  position: absolute;
  top: 4px;
  right: 6px;
  display: none;
  opacity: 0.7
}

.button-details{
  border-radius: 20px;
}


.flex{
  display: flex;
  align-items: center;    /* Centraliza horizontalmente */
  justify-content: center;
}
