<header class="masthead" style="background-image: url('https://img.freepik.com/premium-vector/cartoon-street-with-suburban-houses-driveway-tree_316839-1562.jpg')">
  <div class="mask py-3" style="background-color: rgba(0, 0, 0, 0.4);">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <img class="display-4 fw-bolder" style="width: 350px;" src="https://www.imgbly.com/ib/eOb8ZzQbE8.png">
            <p class="lead fw-normal mb-0 mt-3">Your dreamhouses come true</p>
        </div>
    </div>
  </div>
</header>



<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <% @places.each do |place| %>
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" src="<%= place.picture_url %>" alt="..." />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder"><%= place.name %></h5>
                <!-- Product price-->
                <%= place.price %>
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-primary mt-auto" href="/places/<%= place.id %>">View options</a></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
 <!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Cartoon BnB 2023</p></div>
</footer>
