.del-order {
  color: rgb(253, 253, 253);
  box-shadow: 1px 1px 1px #eb822dc0;
  width: 70px;
  background-color: #ad39ad;
  border: 1px solid #ad39ad;
  &:hover {
    background-color: #6e1b6e;
    border: none;
    font-weight: lighter;
    text-shadow: none;
    color: rgb(253, 253, 253);
    box-shadow: 0px 0px 3px #61616188;
  }
}
