<div class="container">
  <div class="text-center mt-4">
    <h1 class="my-4">It is easy to get started on CartoonB&B</h1>
  </div>
  <div class="row justify-content-center">
    <div class="form-new-place col-8 col-md-6">
      <%= render 'form', place: @place, class: "w-100" %>
    </div>
  </div>
</div>
