<div class="text-center">
  <h1>It is easy to get started on CartoonB&B</h1>
</div>

<div class="container">
  <%= render 'form', place: @place %>
  <%= link_to 'back', places_path, class: 'btn btn-sm btn-primary' %>
</div>
